<div class="view-container">
    <div class="box left">
        <div>
            <select data-ng-model="$ctrl.model.script.selected" data-ng-options="script as script.name for script in $ctrl.view.scriptsList">
                <option value="">-- selezionare --</option>
            </select>
            <button data-ng-click="$ctrl.onScriptExecute()">Esegui</button>
        </div>
        <div>
            Result: <span>{{$ctrl.view.processResponse.process.result}}</span>
        </div>
        <div>
            Transaction ID: <span>{{$ctrl.view.processResponse.transaction.trackId}}</span>
        </div>
        <div>
            Time elapsed: <span>{{$ctrl.view.processResponse.process.deltaTime.toFixed(2)}} ms</span>
        </div>
        <div>
            Status: <span data-ng-class="{ 'message-success': $ctrl.view.processResponse.message === 'Complete' }">{{$ctrl.view.processResponse.message}}</span>
        </div>
    </div>
</div>
